@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #effd41;
  --color-primary-dark: #d4e635;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@layer base {
  * {
    @apply border-neutral-800;
  }

  body {
    @apply bg-neutral-950 text-neutral-100;
    @apply min-w-[320px] min-h-screen;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
